body {
  background-color: #F9F7EE;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  color: white;
  padding: 2.5rem 3rem;
  position: fixed;
  transition: ease 0.2s;
  width: 100vw;
  z-index: 100;
}
.navbar .h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar ul {
  align-items: flex-end;
  display: flex;
  list-style-type:none;
  margin: 0;
}
.navbar li {
  font-size: 13px;
  float: left;
  padding: 0 1rem;
}
.bag {
  transition: ease 0.2s;
}

.navlist {
  color: white;
  display: block;
  left: 3rem;
  position: fixed;
  text-transform: uppercase;
  top: 48%;
  transition: ease 0.2s;
  z-index: 100;
}
ul {
  list-style: none;
  padding: 0;
}
.navlist h5 {
  padding-bottom: 0.5rem;
}

.navbar.scrolled, .navlist.scrolled, .bag.scrolled {
  color: black;
  fill: black;
}

.first, .first-background, .first-img {
  height: 100vh;
}
.first-background {
  background-color: #DF9F6F;
  position: absolute;
  width: 100vw;
  z-index: 10;
}
.first-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://www.fenty.com/on/demandware.static/-/Library-Sites-LoudSharedLibrary/default/dw3167e68b/blog/articles/article-24/twin-images/r3x4/article-24-twin-3x4-006_2700w.jpg');
  background-position: top;
  position: absolute;
  right: 0;
  transform:scaleX(-1);
  width: 50vw;
  z-index: 20;
}

.row {
  justify-content: center;
  padding: 5rem 0 0 0;
}
.row h2 {
  font-family: 'Vollkorn', serif;
  text-transform: uppercase;
}

.product-card img {
  display: block;
  height: auto;
  width: 100%;
 }
.product-name {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 600;
}

.btn-marquee {
  font-weight: 600;
  border: none;
  border-radius: 0;
  background-color: #df9f6f;
  overflow: hidden;
  transition: 0.3s;
  text-transform: uppercase;
}
.btn-marquee:hover {
  transform: scale(1.1);
}
.btn-marquee span {
  display: block;
  padding: 0 10px;
  animation: move-left 4s linear infinite;
}
.btn-marquee span::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@keyframes move-left {
  to {
    transform: translateX(-100%);
  }
}
